/**************************
RESET RULES
***************************/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "Almarai", sans-serif;
}
img {
  width: 100%;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}
.row {
  display: flex;
}

/**************************
HEADER
***************************/
nav {
  position: fixed;
  background-color: white;
  width: 100%;
}
.nav li {
  display: inline-block;
  padding: 0 19px;
  align-items: center;
}
.menu {
  justify-content: space-between;
  align-items: center;
}

.main-header {
  background-color: ;
  line-height: 2em;
}
.button-blu {
  color: white;
  background-color: #3462ff;
  margin-right: 19px;
  margin-top: 19px;
}
.logo {
  margin-top: 19px;
}
/**************************
CONTENITORI
***************************/
.big-cont {
  max-width: 1234px;
  margin: 0 auto;
  background-color: greenyellow;
  padding-top: 90px;
}
.small-cont {
  max-width: 1036px;
  margin: 0 auto;
  background-color: rgb(250, 217, 2);
  padding-top: 90px;
  border: 5px solid red;
}
/**************************
TITOLI
***************************/
.sub-section-title {
  font-weight: bolder;
  font-size: 40px;
}
.card-title {
  font-weight: bolder;
  font-size: 40px;
}
/**************************
HERO
***************************/
.hero {
  background-color: #b4d0e8;
  height: 90vh;
}

.title-hero {
  font-weight: bolder;
  font-size: 85px;
  line-height: 1em;
  padding-bottom: 40px;
}
.hero-box {
  justify-content: space-between;
  position: relative;
}
.box-text-hero {
  flex-basis: 33%;
}
.box-img-hero {
  width: 800px;
}
.box-text-hero > .button-blu {
  line-height: 2.5em;
  text-align: center;
  width: 210px;
  margin-top: 35px;
}
.annulla {
  margin-top: 35px;
}
.lower-arrow {
  font-weight: bolder;
  font-size: 50px;
  position: absolute;
  bottom: 90px;
}
/**************************
OFFERTE
***************************/
.radio {
  padding-top: 30px;
}
.f-annuale,
.f-mensile {
  display: inline-block;
}
.f-annuale {
  padding-left: 50px;
}
